# vim: set filetype=toml:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://docs.helix-editor.com/configuration.html

###############################################################################
# MAIN HELIX COLORSCHEME
###############################################################################

theme = "{{ helix_theme }}"

###############################################################################
# NORMAL MODE
###############################################################################

[keys.normal]

# first, unmap all keys

"a" = "no_op"
"b" = "no_op"
"c" = "no_op"
"d" = "no_op"
"e" = "no_op"
"f" = "no_op"
"g" = "no_op"
"h" = "no_op"
"i" = "no_op"
"j" = "no_op"
"k" = "no_op"
"l" = "no_op"
"m" = "no_op"
"n" = "no_op"
"o" = "no_op"
"p" = "no_op"
"q" = "no_op"
"r" = "no_op"
"s" = "no_op"
"t" = "no_op"
"u" = "no_op"
"v" = "no_op"
"w" = "no_op"
"x" = "no_op"
"y" = "no_op"
"z" = "no_op"
"A" = "no_op"
"B" = "no_op"
"C" = "no_op"
"D" = "no_op"
"E" = "no_op"
"F" = "no_op"
"G" = "no_op"
"H" = "no_op"
"I" = "no_op"
"J" = "no_op"
"K" = "no_op"
"L" = "no_op"
"M" = "no_op"
"N" = "no_op"
"O" = "no_op"
"P" = "no_op"
"Q" = "no_op"
"R" = "no_op"
"S" = "no_op"
"T" = "no_op"
"U" = "no_op"
"V" = "no_op"
"W" = "no_op"
"X" = "no_op"
"Y" = "no_op"
"Z" = "no_op"
"backspace" = "no_op"
"space" = "no_op"
"ret" = "no_op"
"minus" = "no_op"
"left" = "no_op"
"right" = "no_op"
"up" = "no_op"
"down" = "no_op"
"home" = "no_op"
"end" = "no_op"
"pageup" = "no_op"
"pagedown" = "no_op"
"tab" = "no_op"
"del" = "no_op"
"ins" = "no_op"
"null" = "no_op"
"esc" = "no_op"
"(" = "no_op"
")" = "no_op"
"{" = "no_op"
"}" = "no_op"
"[" = "no_op"
"]" = "no_op"
"<" = "no_op"
">" = "no_op"
":" = "no_op"
";" = "no_op"
"|" = "no_op"
"\\" = "no_op"
"," = "no_op"
"." = "no_op"
"\"" = "no_op"
"'" = "no_op"
"?" = "no_op"
"/" = "no_op"
"`" = "no_op"
"~" = "no_op"
"+" = "no_op"
"=" = "no_op"
"!" = "no_op"
"@" = "no_op"
"#" = "no_op"
"$" = "no_op"
"^" = "no_op"
"&" = "no_op"
"*" = "no_op"
"_" = "no_op"

# mode switching

"{{ keymap_enter_cmd_mode }}" = "command_mode"

# leader keymaps

[keys.normal.{{ keymap_leader }}]
"{{ keymap_leader_save_file }}" = "{{ keymap_enter_cmd_mode }}write"
"{{ keymap_leader_quit_helix }}" = "{{ keymap_enter_cmd_mode }}quit"

