# vim: set filetype=toml:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://docs.helix-editor.com/configuration.html

###############################################################################
# MAIN HELIX COLORSCHEME
###############################################################################

theme = "{{ helix_theme }}"

###############################################################################
# KEYMAPS: NORMAL MODE
###############################################################################

[keys.normal]

# first, unmap all keys

"a" = "no_op"
"b" = "no_op"
"c" = "no_op"
"d" = "no_op"
"e" = "no_op"
"f" = "no_op"
"g" = "no_op"
"h" = "no_op"
"i" = "no_op"
"j" = "no_op"
"k" = "no_op"
"l" = "no_op"
"m" = "no_op"
"n" = "no_op"
"o" = "no_op"
"p" = "no_op"
"q" = "no_op"
"r" = "no_op"
"s" = "no_op"
"t" = "no_op"
"u" = "no_op"
"v" = "no_op"
"w" = "no_op"
"x" = "no_op"
"y" = "no_op"
"z" = "no_op"
"A" = "no_op"
"B" = "no_op"
"C" = "no_op"
"D" = "no_op"
"E" = "no_op"
"F" = "no_op"
"G" = "no_op"
"H" = "no_op"
"I" = "no_op"
"J" = "no_op"
"K" = "no_op"
"L" = "no_op"
"M" = "no_op"
"N" = "no_op"
"O" = "no_op"
"P" = "no_op"
"Q" = "no_op"
"R" = "no_op"
"S" = "no_op"
"T" = "no_op"
"U" = "no_op"
"V" = "no_op"
"W" = "no_op"
"X" = "no_op"
"Y" = "no_op"
"Z" = "no_op"
"backspace" = "no_op"
"space" = "no_op"
"ret" = "no_op"
"minus" = "no_op"
"left" = "no_op"
"right" = "no_op"
"up" = "no_op"
"down" = "no_op"
"home" = "no_op"
"end" = "no_op"
"pageup" = "no_op"
"pagedown" = "no_op"
"tab" = "no_op"
"del" = "no_op"
"ins" = "no_op"
"null" = "no_op"
"esc" = "no_op"
"(" = "no_op"
")" = "no_op"
"{" = "no_op"
"}" = "no_op"
"[" = "no_op"
"]" = "no_op"
"<" = "no_op"
">" = "no_op"
":" = "no_op"
";" = "no_op"
"|" = "no_op"
"\\" = "no_op"
"," = "no_op"
"." = "no_op"
"\"" = "no_op"
"'" = "no_op"
"?" = "no_op"
"/" = "no_op"
"`" = "no_op"
"~" = "no_op"
"+" = "no_op"
"=" = "no_op"
"!" = "no_op"
"@" = "no_op"
"#" = "no_op"
"$" = "no_op"
"^" = "no_op"
"&" = "no_op"
"*" = "no_op"
"_" = "no_op"

# normal-mode mode-switching keymaps

"{{ keymap_enter_mode_cmd }}" = "command_mode"
"{{ keymap_enter_mode_cmd_select }}" = "select_mode"
"{{ keymap_enter_mode_insert_before_sel }}" = "insert_mode"
"{{ keymap_enter_mode_insert_after_sel }}" = "append_mode"
"{{ keymap_enter_mode_insert_line_start }}" = "insert_at_line_start"
"{{ keymap_enter_mode_insert_line_end }}" = "insert_at_line_end"
"{{ keymap_enter_mode_insert_new_line_above }}" = "open_above"
"{{ keymap_enter_mode_insert_new_line_below }}" = "open_below"

# normal-mode movement keymaps

"{{ move_left_one_char }}" = "move_char_left"
"{{ move_right_one_char }}" = "move_char_right"
"{{ move_up_one_char }}" = "move_line_up"
"{{ move_down_one_char }}" = "move_line_down"
"{{ move_up_one_page }}" = "page_up"
"{{ move_down_one_page }}" = "page_down"
"{{ move_to_next_word_start }}" = "move_next_word_start"
"{{ move_to_next_word_end }}" = "move_next_word_end"
"{{ move_to_prev_word_start }}" = "move_prev_word_start"
"{{ move_to_line_start }}" = "goto_line_start"
"{{ move_to_line_end }}" = "goto_line_end"

# normal-mode toggle keymaps

"{{ toggle_to_last_accessed_file }}" = "goto_last_accessed_file"

# normal-mode goto keymaps

[keys.normal.{{ goto_key_prefix }}]

"a" = "no_op"
"b" = "no_op"
"c" = "no_op"
"d" = "no_op"
"e" = "no_op"
"f" = "no_op"
"g" = "no_op"
"h" = "no_op"
"i" = "no_op"
"j" = "no_op"
"k" = "no_op"
"l" = "no_op"
"m" = "no_op"
"n" = "no_op"
"o" = "no_op"
"p" = "no_op"
"q" = "no_op"
"r" = "no_op"
"s" = "no_op"
"t" = "no_op"
"u" = "no_op"
"v" = "no_op"
"w" = "no_op"
"x" = "no_op"
"y" = "no_op"
"z" = "no_op"
"." = "no_op"
"{{ goto_file_start }}" = "goto_file_start"
"{{ goto_line_number }}" = "goto_line"
"{{ goto_file_end }}" = "goto_last_line"
"{{ goto_file_in_selection }}" = "goto_file"
"{{ goto_lsp_definition }}" = "goto_definition"
"{{ goto_lsp_type_definition }}" = "goto_type_definition"
"{{ goto_lsp_references }}" = "goto_reference"
"{{ goto_lsp_implementation }}" = "goto_implementation"

# normal-mode text-mod surround keymaps

[keys.normal.{{ text_mod_key_super_prefix }}]

"{{ surround_mod_replace_x_with_y }}" = "surround_replace"

# normal-mode text-mod case keymaps

[keys.normal.{{ text_mod_key_super_prefix }}.{{ case_mod_key_sub_prefix }}]

"{{ case_mod_to_upper }}" = "switch_to_uppercase"
"{{ case_mod_to_lower }}" = "switch_to_lowercase"
"{{ case_mod_toggle }}" = "switch_case"

# normal-mode leader keymaps

[keys.normal.{{ keymap_leader }}]

"{{ keymap_leader_save_file }}" = ":write"
"{{ keymap_leader_quit_helix }}" = ":quit"

###############################################################################
# KEYMAPS: SELECT MODE
###############################################################################

# select-mode movement keymaps

[keys.select]

"{{ move_to_line_start }}" = "goto_line_start"
"{{ move_to_line_end }}" = "goto_line_end"

# select-mode goto keymaps

[keys.select.{{ goto_key_prefix }}]

"a" = "no_op"
"b" = "no_op"
"c" = "no_op"
"d" = "no_op"
"e" = "no_op"
"f" = "no_op"
"g" = "no_op"
"h" = "no_op"
"i" = "no_op"
"j" = "no_op"
"k" = "no_op"
"l" = "no_op"
"m" = "no_op"
"n" = "no_op"
"o" = "no_op"
"p" = "no_op"
"q" = "no_op"
"r" = "no_op"
"s" = "no_op"
"t" = "no_op"
"u" = "no_op"
"v" = "no_op"
"w" = "no_op"
"x" = "no_op"
"y" = "no_op"
"z" = "no_op"
"." = "no_op"
"{{ goto_file_start }}" = "goto_file_start"
"{{ goto_line_number }}" = "goto_line"
"{{ goto_file_end }}" = "goto_last_line"

###############################################################################
# STATUSLINE
###############################################################################

[editor.statusline]

left = [{{ statusline_elements_left_side }}]
center = [{{ statusline_elements_center }}]
right = [{{ statusline_elements_right_side }}]
separator = "{{ statusline_separator_chars }}"
mode.normal = "{{ statusline_mode_element_text_normal }}"
mode.insert = "{{ statusline_mode_element_text_insert }}"
mode.select = "{{ statusline_mode_element_text_select }}"

